<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mirle" version="2.1.0" targetFramework="net48" />
  <package id="Oracle.ManagedDataAccess" version="19.13.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net48" />
</packages>